<hr>
    <div class="text-center center-block">
        <a href="https://www.linkedin.com/in/anoopkhandelwal/" class="cursor-pointer">
            <i id="socila-ln" class="fa fa-linkedin-square fa fa-3x social"></i>
        </a>
        <a href="https://www.facebook.com/khandu.anoop" class="cursor-pointer">
            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
        </a>
        <a href="https://twitter.com/@anoop_khandu"  class="cursor-pointer">
            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
        </a>
        <a href="mailto:khandelwalanoop03@gmail.com" class="cursor-pointer">
            <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
        </a>
    </div>
<hr>