<div class="panel-body">
    <div class="panel-heading">
        <a href="http://www.minjar.com/" class="img-wrap cursor-pointer">
            <img src="../../images/minjar.png" class="img-resize">
            <p class="img-hover pl-30"> Minjar Cloud Solutions Pvt. Ltd, Bengaluru, India</p>
        </a>
    </div>
        <ul class="custom-bullets">
            <li>
                Develop Custom Jobs where Customers can schedule their scripts to execute
                at the particular time.
            </li>

            <li>Develop Chargeback(Sub-app) using Angular2.</li>

            <li>
                Develop Cloud Automation which helps to schedule the most common AWS cloud infrastructure tasks.                  <br/>
                    These tasks mainly include creating RDS/EBS/EC2/Redshift backups, stopping
                    and starting of EC2 instances at specified schedules,
                    copying backups across regions and across AWS accounts.
            </li>

            <li>
                Develop Multi Click to fix which helps to fix multiple audit
                violations(Cost,DR,Security,Performance) faster, within seconds.
            </li>

            <li>
                Develop real time metrics to track the Automation Jobs executions and
                also how much time and cost each schedule is saving using InfluxDB.
            </li>

            <li>
                Cleanify AWS Pricing API which contain the pricing of various AWS Services using ElasticSearch.
            </li>
        </ul>


    <div class="panel-heading">
        <a href="http://www.minjar.com/" class="img-wrap cursor-pointer">
            <img src="../../images/botmetirc.png" class="img-resize">
            <p class="img-hover pl-30"> Botmetric (Virtual Cloud Solutions)</p>
        </a>
    </div>
    <ul class="custom-bullets">
        <li class="pt-20">
            Product Development Engineer
        </li>
    </ul>
</div>