<div class="panel-body">
                <span>
                    I’m a software developer with 2+ years of experience in designing services to run them into production systems and manage them.
                </span>
    <br/>
    <span>
                I'm currently working in a team building a Cloud SAAS product Botmetric (Virtual Cloud Engineer
                </span>
    <br/>
    <span>
                Most of my experience lies as a back-end developer writing a scalable code for various micro-services(internal & web-applications) .
                </span>
    <br/>
    <span>
                I also developed a front-end application component of the product using Angular2 js.
                </span>
    <br/>
    <span>
                The technology stack that I have worked so far consists of-
                </span><br/>
    Public Cloud- Amazon Web Services
    <br/>
    Programming- Python, Java, Angular2Js , TypeScript
    <br/>
    Databases/Datastore- PostgreSQL, Elastic, Influx, Redis, Disque.
    <br/>
    Deployments- Docker, Consul, Nomad.
    <br/>
    Other Languages I know- C, C++, JavaScript, Shell Scripting
    <br/>
</div>